<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org/"
      layout:decorate="~{layouts/user}">
<div  layout:fragment="content">

    <div class="row mb-3">
        <div class="col-12 text-right">
            <a th:href="@{/admin/addPromo}" class="btn btn-success"><i class="fa fa-plus"></i> Add Promotion</a>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table table-bordered" id="grid" style="width:100%;padding:0">
                <thead>
                <tr>
                    <th style="width: 200px">Image</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th style="width: 75px"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="ad : ${promos}">
                    <td>
                        <img th:src="${ad.image}" th:alt="${ad.title}" class="img-thumbnail w-100">
                    </td>
                    <td th:text="${ad.title}"></td>
                    <td th:text="${ad.description}"></td>
                    <td class="align-middle text-center">
                        <a th:href="@{/admin/update/{id}(id=${ad.id})}" class="btn btn-info" title="Update"><i class="fa fas fa-pen"></i></a>
                        <a th:href="@{/admin/delete/{id}(id=${ad.id})}" class="btn btn-danger" title="Delete"><i class="fa fas fa-trash"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="m-5"></div>
</div>
</html>