<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">BOOK STORE</title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
          content="">
    <meta name="author"
          content="Ananth Shanmugam">
    <!-- stylesheet -->
    <link type="text/css"
          rel="stylesheet"
          th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
    <link type="text/css"
          rel="stylesheet"
          th:href="@{/vendor/fontawesome-free/css/all.min.css}">
    <link type="text/css" 
    	  rel="stylesheet"
	      th:href="@{/css/styles.css}">
	      	      
          
    <link th:href="@{/vendor/datatables/dataTables.bootstrap4.css}" rel="stylesheet">
</head>
<body id="page-top" sec:authorize="isAuthenticated()">

<nav th:replace="layouts/fragments/header :: header">
    <!-- header -->
</nav>

<!-- container -->
<div id="wrapper">

		<div  th:replace="layouts/fragments/sidebar :: sidebar" th:remove="tag">
		</div>
		

    <div id="content-wrapper">
    <div class="container-fluid">
            <div th:replace="layouts/fragments/breadcrumbs :: breadcrumbs" th:remove="tag">
            </div>

            <div layout:fragment="content">
            </div>
	</div>
        <footer th:replace="layouts/fragments/sticky-footer :: footer">
        </footer>
	</div>


<div th:replace="layouts/fragments/logout :: logout" th:remove="tag">
</div>

<div th:replace="layouts/fragments/scrolltop :: scrolltop" th:remove="tag">
</div>

<div th:replace="layouts/fragments/javascripts :: javascripts" th:remove="tag">
</div>
</div>

</body>
</html>