<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/home}">

<div layout:fragment="content">

    <div class="breadcrumb">
        <div class="container">
            <a class="breadcrumb-item" href="index.html">Home</a>
            <span class="breadcrumb-item active">FAQ</span>
        </div>
    </div>
    <section class="static about-sec">
        <div class="container">
            <h1>FAQ</h1>
            <h3>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </h3>
        </div>
    </section>
</div>
</html>